body {
  background-color: #eee;
}

.menu-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.main-link {
  font-size: 2rem;
}

.links {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.add-student {
  text-transform: capitalize !important;
}
.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: center;
  align-items: center;
}

.button-container {
  padding: 20px;
}

.textField {
  margin: 20px !important;
}

.MuiAutocomplete-root {
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
